.center-div {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 60%;
  flex-direction: column;
}

.artist-header {
  background-size: 60% 90%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 7px;
  transition: all 0.7s;
}

.artist-header:hover {
  background-size: 70% 100%;
}

.artist-tags {
  display: flex;
  transition: 0.4s;
}

.artist-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.artist-tags button {
  pointer-events: none;
  margin: 0.4rem 0px;
  border-style: none;
  box-shadow: 5px 2px 19px 2px #0e0e0e;
}

.artist-info #artist-tag {
  background-color: #d4fd8d;
  color: #494949;
  padding: 7px 20px;
  font-weight: 500;
  font-size: 15px;
}

.artist-info #artist-name {
  background-color: #fcff6c;
  color: #000000;
  font-weight: bolder;
  font-size: 25px;
  padding: 7px 20px;
}

.artist-info #artist-numbers {
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  padding-left: 0px 20px;
}

.numbers {
  display: flex;
}

.numbers p {
  margin: 5px 12px;
}

.artist-score {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.artist-score button {
  border-style: none;
  margin: 0.4rem 0px;
  box-shadow: 5px 5px 19px 2px #0e0e0e;
}

.artist-score #avg {
  background-color: #a6efff;
  color: #494949;
  padding: 7px 20px;
  font-weight: 500;
  font-size: 15px;
}

.artist-score #score {
  background-color: #ff8947;
  color: #000000;
  font-size: 30px;
  font-weight: bolder;
  padding: 2px 7px;
}

.rate-btn {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  border: 2px solid #000;
  width: 110px;
  height: 32px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.4s;
}

.rate-btn:hover {
  color: #ffffff;
  background-color: #000;
  cursor: pointer;
}

.fan-btn {
  background-color: #ddd8a8;
  color: #000000;
  border-radius: 10px;
  border-style: none;
  width: 110px;
  height: 32px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.4s;
}

.fan-btn:hover {
  background-color: #bdb466;
  cursor: pointer;
}

.sp-artist {
  background-color: #71ad5c;
  color: #ffffff;
  border-radius: 10px;
  border-style: none;
  width: 110px;
  height: 32px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.4s;
}

.sp-artist:hover {
  background: #3c6d2a;
  cursor: pointer;
}

.top-artist-tracks {
  margin: 2rem 0px;
}

.discography {
  margin: 2rem 0px;
}

.discography span {
  font-weight: 300;
}

.releases {
  margin-top: 2rem;
}

.comments {
  margin-top: 2rem;
}

.comments-list {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0px;
}

.comment-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid #d4d4d4;
  padding-bottom: 1.5rem;
}

.comment-div img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.comment-box {
  background: transparent;
  border: 0;
  border-bottom: 0.3px solid #d4d4d4;
}

.add-comment {
  display: flex;
  align-items: center;
  width: 100%;
}

.add-comment img {
  margin: 0px 2rem;
}

.add-comment input {
  width: 400px;
  height: 2.5rem;
  transition: 0.4s;
  font-size: 16px;
  color: #3d3d3d;
  margin-right: 2.5rem;
}

.add-comment input:focus {
  border-bottom: 0.3px solid #6d6d6d;
  outline: none;
}

.add-comment input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.comment {
  display: flex;
  padding: 1.5rem 2rem;
  align-items: center;
  border-bottom: 0.3px solid #d4d4d4;
}

.comment img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.name-comment {
  display: flex;
  flex-direction: column;
  padding: 0px 2rem;
}

.name-comment span {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.name-comment p {
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
}

.comment-likes {
  display: flex;
  margin: 0.7rem 0px;
  align-items: center;
}

.comment-likes label {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}

.comment-likes label:hover {
  text-decoration: underline;
  color: #911010;
}

.comment-actions svg:hover{
  cursor: pointer;
}

.like-actions {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  margin-right: 1.5rem;
}

.like-actions svg {
  margin-right: 10px;
}

.like-actions svg:hover {
  cursor: pointer;
}

@media (max-width: 988px) {
  .center-div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .artist-header {
    background-size: 100% 90%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 7px;
    transition: all 0.7s;
  }
  .artist-header:hover {
    background-size: 100% 90%;
  }

  .artist-info {
    padding: 0.5rem 1rem;
  }

  .artist-info #artist-tag {
    font-size: 13px;
    padding: 3px 10px;
  }

  .artist-info #artist-name {
    font-size: 18px;
    padding: 3px 10px;
  }

  .numbers p {
    margin: 2px 8px;
  }

  .artist-score {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }

  .artist-score #avg {
    padding: 3px 10px;
    font-size: 13px;
  }

  .artist-score #score {
    font-size: 23px;
  }

  .artist-info #artist-numbers {
    font-size: 13px;
    padding-left: 0px 14px;
  }

  .comment {
    padding: 1.5rem 0rem;
  }

  .add-comment {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .add-comment img {
    margin: 0px 0.7rem 0px 0px;
  }

  .add-comment input {
    width: 200px;
    margin: 1.5rem;
  }
  .add-comment button {
    margin: 6rem -75% 0px;
  }

  .comment-div {
    display: flex;
    align-items: center;
  }
}
